@media screen and (max-width: 430px) {
  nav {
    justify-content: space-between;
  }

  .logo {
    margin: 0 2rem;
  }
  .desktop-nav {
    display: none;
  }

  nav .login-info {
    display: none;
  }

  .mobile-nav {
    display: block;
    width: 10%;
  }

  .mobile-nav .hamburger {
    display: block;
    cursor: pointer;
  }

  .line {
    height: 3px;
    background-color: #333;
    margin-bottom: 4px;
  }

  .two-active {
    opacity: 0;
  }

  .one-active {
    transform: rotate(-45deg) translate(-10px);
  }

  .three-active {
    transform: rotate(45deg) translate(-8px);
  }

  .mobile-nav-links {
    display: flex;
    flex-direction: column;
    background-color: #f5f7fa;
    width: 100%;
    list-style-type: none;
    align-items: center;
  }

  .mobile-nav-links li {
    margin: 1rem;
  }

  .mobile-nav-links li a {
    text-decoration: none;
    color: #333;
  }

  .mobile-hidden {
    display: none;
  }

  .login-info {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .login-info button {
    margin: 0 1rem;
  }

  .section-1 {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
  }

  .lesson-insight {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .lesson-insight .lesson-container {
    margin-bottom: 10px;
  }

  .lesson {
    font-size: 1.5rem;
  }

  .lesson-insight .years {
    font-size: 1.5rem;
  }

  .Illustration-icon {
    width: 80%;
    margin-top: -20px;
  }

  .Illustration-icon img {
    width: 100%;
  }

  .clients {
    width: 100%;
  }

  .clients .h2-item-2 {
    width: 80%;
    text-align: center;
  }

  .logo-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 2fr);
    padding: 0;
    margin-top: 2rem;
  }

  .logo-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-container .h2-item-1 {
    font-size: 2rem;
  }

  .flexbox {
    display: flex;
    flex-direction: column;
  }

  .section-4 {
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: center;
    width: 100%;
    gap: 0;
  }

  .section-4-item {
    margin-bottom: 1rem;
    width: 80%;
  }

  .section-4-item .lorem {
    text-align: justify;
  }

  .section-5 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
    height: 650px;
  }

  .section-5-item {
    text-align: center;
  }

  .members-club {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .section-6 {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
  }

  .section-6 img {
    width: 90%;
    margin-top: 1rem;
  }

  .section-6-item {
    width: 80%;
    text-align: center;
    margin: 2rem 0;
  }

  .section-6-item .lorem {
    text-align: justify;
  }

  .section-7 {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    height: 1200px;
    background-color: #f5f7fa;
  }

  .section-7 img {
    width: 80%;
  }

  .section-7-item {
    width: 80%;
  }

  .section-7-item .lorem {
    margin-top: 0;
  }

  .caring .h2-item-2 {
    padding: 16px;
  }

  .logo-container .meet {
    display: none;
  }

  .meet-mobile {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2rem;
  }

  .section-8 {
    width: 100%;
    text-align: center;
  }

  .flex-container {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }

  .flex-container div {
    width: 85%;
  }

  .flex-container > div img {
    width: 100%;
  }

  .caring {
    width: 100%;
    text-align: center;
  }

  .readmore-container {
    margin-left: 15px;
  }

  .section-9 {
    width: 100%;
  }

  .lorem-h1 {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
  }

  footer {
    width: 100%;
  }

  .footer-section-1 {
    display: flex;
    flex-direction: column;
    height: 640px;
    width: 100%;
    padding: 0;
    gap: 2rem;
  }

  .footer-section-1 .flex-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-section-2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .footer-section-2 .Company-support {
    display: flex;
    justify-content: space-evenly;
  }

  .footer-section-2 .date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .copyright {
    text-align: center;
  }

  .input-box {
    margin-left: 10px;
  }
}
