* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "inter";
  min-height: 100vh;
}

.logo {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.logo img {
  height: 25px;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 16px;
  background-color: #f5f7fa;
}

.desktop-nav {
  width: 60%;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.desktop-nav li {
  margin: 0 1rem;
}

.desktop-nav li a {
  text-decoration: none;
  color: #333;
}

.login-info {
  width: 20%;
}

.login-info button {
  padding: 8px 16px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  margin-right: 8px;
  background-color: green;
}

.login-info a {
  text-decoration: none;
}

.login-info .login-button {
  background-color: #f5f7fa;
}

.login-button a {
  color: #4caf4f;
}

.login-info .sign-button {
  background-color: #4caf4f;
}

.sign-button a {
  color: white;
}

.mobile-nav-links {
  display: none;
}

.section-1 {
  height: 600px;
  width: 100%;
  background-color: #f5f7fa;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lesson-insight {
  padding: 50px;
}

.Illustration-icon {
  margin-top: 50px;
}

.lesson {
  font-size: 5rem;
}

.years {
  font-size: 4rem;
  color: #4caf4f;
}

.clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.h2-item-1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

.h2-item-2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.h3-item-1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
}

.h3-item-2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.logo-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.flexbox {
  display: flex;
  justify-content: space-around;
}

.lorem {
  text-align: left;
  line-height: 25px;
}

.section-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 100px 100px 100px 200px;
}

.section-5 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f7fa;
  height: 300px;
}

.payment-items {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.color {
  color: #4caf4f;
  line-height: 44px;
  font-size: 36px;
  font-weight: 600;
}

.members-club {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.section-7 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f7fa;
  height: 380px;
  gap: 3rem;
  padding: 100px;
}

.tim-smith {
  color: #4caf4f;
  margin-top: 10px;
}

.logo-container-2 {
  display: flex;
  gap: 2rem;
  margin-top: 15px;
}

.meet {
  display: flex;
  align-items: center;
  gap: 10px;
}

.meet-mobile {
  display: none;
}

h4 {
  color: #4caf4f;
  font-size: 20px;
}

.caring {
  margin-top: 50px;
  text-align: center;
}

.creating {
  background-color: #eef4fc;
  text-align: center;
  position: relative;
  top: -100px;
  left: 20px;
  width: 90%;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 6px 2px 0 rgb(194, 194, 228);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 15px;
}

.grey {
  color: #717171;
  font-size: 20px;
  line-height: 28px;
}

.readmore-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 8px;
}

.section-9 {
  background-color: #f5f7fa;
  margin-top: 40px;
  text-align: center;
  height: 300px;
  gap: 32px;
  padding: 32px;
}

.lorem-h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 76px;
  color: #4d4d4d;
}

.footer-section-1 {
  background-color: #263238;
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 18rem;
  padding: 40px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
}

.copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #f5f7fa;
}

.flex-1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-section-2 {
  display: flex;
  gap: 8rem;
}

.Company-support {
  display: flex;
  gap: 5rem;
}

.footer-h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  color: #f5f7fa;
  margin-bottom: 26px;
}

.footer-h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #f5f7fa;
}

.input-box {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.button {
  font-weight: 700;
  background-color: #4caf4f;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  font-size: 0.8rem;
  margin-top: 2rem;
}

.button a {
  text-decoration: none;
  color: white;
}

input {
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: #b4b9c9;
  padding: 12px;
  width: 255px;
}

input::placeholder {
  color: white;
}

.svg {
  position: relative;
  right: 30px;
  top: 3px;
}
